<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clicker</title>

  <script>
    let clicks = +'<%- clicks %>'
    let events = '<%- JSON.stringify(events) %>'
  </script>

  <script src="/js/http.js" defer></script>
  <script src="/js/main.js" defer></script>
</head>
<body>
  <h1>Clicks: <span id="clicks-counter"><%- clicks %></span></h1>
  <button id="plus-btn">+</button>
  <button id="minus-btn">-</button>

  <ul id="events-list">
    <% if (events.length) { %>
      <% events.forEach((event) => { %>
        <li data-id="<%- event.id %>">
          <span><%- new Date(event.date).toLocaleString() %></span>
          <span><%- event.action %></span>
          <button data-id="<%- event.id %>">Cancel</button>
        </li>
      <% }) %>
    <% } %>
  </ul>
</body>
</html>